<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SQL Tasks</title>
</head>
<body>
    <h1>SQL Tasks</h1>

    <% @sql_files_content.each do |file_name, content| %>
      <h2><%= file_name %></h2>
      <pre><%= content %></pre>  <!-- Display each file's content as plain text -->
      <hr>
    <% end %>

    <div>
        <%= link_to 'Return to Main Page', root_path, class: 'btn btn-secondary' %>
    </div>

</body>
</html>
