<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to the Main Page</title>
  <link rel="stylesheet" href="styles.css"> <!-- Include your CSS file for styling -->
</head>
<body>
<header>
  <h1>🔥Welcome to the Main Page🔥</h1>
</header>

<main>
<!--  <p>This is the index page for the MainController.</p>-->
  <p>Here you will find links to the solutions of Problem Set 2.</p>
  <br/>

  <section class="problem-set-links">

    <!-- Add a link to the Google Doc for all task solutions -->
    <p>You can also view the solutions for Task 1-13 in the following formats:</p>
    <ul>
      <li><a href="https://drive.google.com/drive/folders/12FJw4wWQLmpaPkz77Wt9I2IdyL4BSAP_?usp=drive_link" target="_blank">Solutions Doc</a></li>
    </ul>
  </section>
</main>

<div>
        <%= link_to 'Go to Quotations', quotations_index_path, class: 'btn btn-goto', title: 'Go to Quotations' %>
        <%= link_to 'Go to SQL Task', sql_tasks_index_path, class: 'btn btn-goto', title: 'Go to SQL Task' %>
</div>


<footer>
  <p>&copy; 2024 Tanawin st123975 MMI && Sagar R st124756 CS . All Rights Reserved.</p>
</footer>
</body>
</html>
