<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to the Main Page</title>
  <link rel="stylesheet" href="styles.css"> <!-- Include your CSS file for styling -->
</head>
<body>
<header>
  <h1>🔥Welcome to the Main Page🔥</h1>
</header>

<main>
<!--  <p>This is the index page for the MainController.</p>-->
  <p>Here you will find links to the solutions of Problem Set 1.</p>
  <br/>

  <section class="problem-set-links">

    <!-- Add a link to the Google Doc for all task solutions -->
    <p>You can also view the solutions for Task 1-3 in the following formats:</p>
    <ul>
      <li><a href="https://docs.google.com/document/d/1c9deITVWMb-_ZyPMuAHeBZsco1BrkbZy8FnnkwMn3H0/edit?usp=sharing" target="_blank">Google Doc Version</a></li>
      <li><a href="https://drive.google.com/file/d/1nIVUFUV0aHyM91LXw_eNT1pBUCLQBXyv/view?usp=drive_link" target="_blank">PDF Version</a></li>
    </ul>
  </section>
</main>

<footer>
  <p>&copy; 2024 Tanawin st123975 MMI. All Rights Reserved.</p>
</footer>
</body>
</html>
